.App {
    padding: 0px 15px 15px 15px;
    height:100%;
    overflow: auto;
}

.jumbotron{
    padding: 20px 10px 20px 10px;
    overflow:hidden;
    border-radius: 20px;
}

.col.left{
    float:left;
}
.col.right{
    float:right;
}
.small{
    width:40%;
}
.large{
    width:60%;
}
pre{
margin-bottom: 0px;
}

@media only screen and  (max-width:1000px){
    .col{
        float:initial !important;
    }
    .small{
        width: 80% !important;
        margin: auto;
    }
    .large{
        width: 100% !important;
        margin:auto;
    }
}

@media only screen and  (max-width:500px){
    .small{
        width: 100% !important;
        margin: auto;
    }
    .large{
        width: 100% !important;
        margin:auto;
    }
    body{
        font-size: 15.8px;
    }
}

/* 
636 large
414 small
*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/